---
---

@import "{{ site.theme }}";

/* User-Agent Style */
html {
    background-color: #2b2d2e !important;
}
html {
    color-scheme: dark !important;
}
html, body, input, textarea, select, button {
    background-color: #2b2d2e;
}
html, body, input, textarea, select, button {
    border-color: #847c6f;
    color: #f6f4f1;
}
a {
    color: #45a1ff;
}
table {
    border-color: #656c6f;
}
::placeholder {
    color: #c1bab1;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #525613 !important;
    color: #f6f4f1 !important;
}
::-webkit-scrollbar {
    background-color: #323536;
    color: #bab3a9;
}
::-webkit-scrollbar-thumb {
    background-color: #575b5e;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #686f73;
}
::-webkit-scrollbar-thumb:active {
    background-color: #5a5f62;
}
::-webkit-scrollbar-corner {
    background-color: #2b2d2e;
}
::selection {
    background-color: #135eb9 !important;
    color: #f6f4f1 !important;
}
::-moz-selection {
    background-color: #135eb9 !important;
    color: #f6f4f1 !important;
}

/* Invert Style */
.jfk-bubble.gtx-bubble, .captcheck_answer_label > input + img, span#closed_text > img[src^="https://www.gstatic.com/images/branding/googlelogo"], span[data-href^="https://www.hcaptcha.com/"] > #icon, #bit-notification-bar-iframe, ::-webkit-calendar-picker-indicator {
    filter: invert(100%) hue-rotate(180deg) brightness(115%) contrast(75%) !important;
}

/* Variables Style */
:root {
   --neutral-background: #262829;
   --neutral-text: #e6e2dd;
   --selection-background: #135eb9;
   --selection-text: #f6f4f1;
}

/* Modified CSS */
a:focus {
    outline-color: initial;
}
a:hover,
a:active {
    outline-color: initial;
}
abbr[title] {
    border-bottom-color: initial;
}
mark {
    background-image: initial;
    background-color: rgb(169, 169, 19);
    color: rgb(246, 244, 241);
}
nav ul,
nav ol {
    list-style-image: none;
}
img {
    border-color: initial;
}
fieldset {
    border-color: rgb(84, 89, 91);
}
legend {
    border-color: initial;
}
.highlight,
.highlight .w {
    color: rgb(217, 213, 206);
}
.highlight .err {
    color: rgb(233, 230, 225);
    background-color: rgb(154, 70, 71);
}
.highlight .c,
.highlight .cd,
.highlight .cm,
.highlight .c1,
.highlight .cs {
    color: rgb(173, 164, 152);
}
.highlight .cp {
    color: rgb(255, 203, 128);
}
.highlight .nt {
    color: rgb(255, 203, 128);
}
.highlight .o,
.highlight .ow {
    color: rgb(217, 213, 206);
}
.highlight .p,
.highlight .pi {
    color: rgb(217, 213, 206);
}
.highlight .gi {
    color: rgb(171, 192, 122);
}
.highlight .gd {
    color: rgb(211, 115, 116);
}
.highlight .gh {
    color: rgb(133, 181, 201);
}
.highlight .k,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kv {
    color: rgb(177, 169, 157);
}
.highlight .kc {
    color: rgb(228, 158, 101);
}
.highlight .kt {
    color: rgb(228, 158, 101);
}
.highlight .kd {
    color: rgb(228, 158, 101);
}
.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .sh,
.highlight .sx,
.highlight .s1 {
    color: rgb(171, 192, 122);
}
.highlight .sr {
    color: rgb(141, 200, 190);
}
.highlight .si {
    color: rgb(218, 164, 134);
}
.highlight .se {
    color: rgb(218, 164, 134);
}
.highlight .nn {
    color: rgb(255, 203, 128);
}
.highlight .nc {
    color: rgb(255, 203, 128);
}
.highlight .no {
    color: rgb(255, 203, 128);
}
.highlight .na {
    color: rgb(133, 181, 201);
}
.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mb,
.highlight .mx {
    color: rgb(171, 192, 122);
}
.highlight .ss {
    color: rgb(171, 192, 122);
}
body {
    color: rgb(245, 231, 203);
    background-image: linear-gradient(rgb(49, 52, 53),
    rgb(40, 42, 43));
    background-color: initial;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(231, 228, 223);
}
h4,
h5,
h6 {
    color: rgb(231, 228, 223);
}
h3 {
    color: rgb(201, 195, 186);
}
a {
    color: rgb(255, 223, 45);
    text-decoration-color: initial;
}
a:hover {
    color: rgb(255, 245, 150);
}
a small {
    color: rgb(183, 176, 165);
}
ul {
    list-style-image: url("https://iegres.github.io/assets/images/bullet.png");
}
blockquote {
    border-left-color: rgb(194, 159, 19);
}
code {
    color: rgb(236, 233, 229);
}
pre {
    background-image: initial;
    background-color: rgb(38, 39, 40);
    border-color: rgb(150, 140, 127);
    box-shadow: rgba(19, 19, 19, 0.3) 0px 1px 3px inset;
}
pre code {
    color: rgb(236, 233, 229);
    text-shadow: rgb(19, 19, 19) 0px 1px 0px;
}
th {
    border-bottom-color: rgb(134, 127, 114);
    color: rgb(201, 195, 186);
}
td {
    border-bottom-color: rgb(134, 127, 114);
}
hr {
    border-color: initial;
    outline-color: initial;
    background-image: url("https://iegres.github.io/assets/images/hr.gif");
    background-color: transparent;
}
dt {
    color: rgb(245, 231, 203);
}
#header {
    background-image: url("https://iegres.github.io/assets/images/nav-bg.gif");
    background-color: rgb(58, 61, 63);
    border-bottom-color: rgb(134, 127, 114);
    box-shadow: rgba(19, 19, 19, 0.25) 0px 1px 3px;
}
#header nav {
    background-image: initial;
    background-color: rgb(19, 19, 219);
}
#header nav ul li {
    list-style-image: initial;
    color: rgb(246, 244, 241);
    text-shadow: rgba(19, 19, 19, 0.2) 0px 1px 0px;
}
#header nav ul li a {
    color: rgb(246, 244, 241);
    border-color: rgb(140, 209, 34);
    background-image: linear-gradient(rgb(134, 167, 45),
    rgb(98, 142, 32));
    box-shadow: rgba(43, 45, 46, 0.3) 0px 1px 0px inset,
    rgba(19, 19, 19, 0.7) 0px 3px 7px;
    background-color: rgb(134, 167, 45);
}
#header nav ul li a:hover {
    background-image: linear-gradient(rgb(110, 136, 39),
    rgb(84, 119, 30));
    background-color: rgb(98, 142, 32);
    border-color: rgb(140, 207, 40);
    box-shadow: rgba(19, 19, 19, 0.2) 0px 1px 1px inset,
    rgba(19, 19, 19, 0) 0px 1px 0px;
}
section #title {
    border-color: initial;
    outline-color: initial;
}
section #title p {
    color: rgb(214, 209, 202);
}
section #title .credits {
    color: rgb(181, 174, 162);
}
body {
    background-image: linear-gradient(rgb(61, 88, 107),
    rgb(46, 64, 78));
    background-color: initial;
}

/* Override Style */
.vimvixen-hint {
    background-color: #8b6400 !important;
    border-color: #e6bf26 !important;
    color: #fff6d7 !important;
}
::placeholder {
    opacity: 0.5 !important;
}
#edge-translate-panel-body,
.MuiTypography-body1 {
    color: var(--neutral-text) !important;
}
gr-main-header {
    background-color: #224c5a !important;
}
embed[type="application/pdf"][src="about:blank"] { filter: invert(100%) contrast(90%); }
